.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.logo{
    transition: all 0.5s;
}

.logo:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
    transition: all 0.5s;
}

.item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.item a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}

.item a:hover{
    color: #ffbb33;
    
}